.center-content {
  margin: 0 100px;
}

img {
  border-radius: 10px;
}

.section-one {
  padding: 0 0 100px;
}

.dark-bg {
  background-color: #1f2937;
  color: white;
}

header {
  display: flex;
  margin-bottom: 50px;
}

ul {
  display: flex;
  margin-left: auto;
  gap: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

header img {
  height: auto;
  width: 200px;
  margin: 0 -50px;
}

.heading {
  display: flex;
  gap: 30px;
}

@media (max-width: 1150px) {
  .heading {
    flex-wrap: wrap;
  }
}

.heading h1 {
  font-size: 48px;
  margin: 0;
}

.dim-text {
  font-size: 16px;
  color: #e5e7eb;
}

.heading-text {
  max-width: 500px;
  margin-right: auto;
}

.heading-image img {
  height: auto;
  width: 100%;
  max-width: 500px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 30px;
}

.heading button {
  background-color: #3882F6;
}

.section-two h1 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
}

.explore-worlds {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.explore-worlds img {
  height: auto;
  width: 100%;
  min-width: 250px;
}

.explore-worlds div {
  flex: 1;
  text-align: center;
}

.explore-worlds {
  font-size: 15px;
}

.section-three {
  margin-top: 150px;
  background-color: #e5e7eb;
}

.section-three div {
  padding: 100px;
  font: 36px light italic;
  color: #1f2937;
}

@media (max-width: 768px) {
  .section-three div {
    font-size: 14px; 
    padding: 20px;
  }
}

.section-four {
  margin: 50px 0;
}

.section-four div.center-content {
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-four p {
  margin-top: -10px;
}
.section-four button {
  background-color: transparent;
  border: white solid 1px;
}

.footer {
  text-align: center;
  padding: 20px;
}